<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스텝 위드 Step With</title>
    <link rel="stylesheet" href="css/common-ui.css?v=<?php echo time(); ?>" type="text/css">
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- <script src="js/modal.js"></script> -->
</head>
<body>
    <div id="skip_navi">
        <a href="#container">본문바로가기</a>
    </div>
    <div id="wrap">
        <main id="#container">
            <section class="common_menus">
                <h2 class="blind">공통 메뉴</h2>
                <div class="inner">
                    <h1 class="logo">
                        <a href="base.html">
                            Step With
                            <span class="blind">스텝 위드 Step With</span>
                        </a>
                    </h1>
                    <ul class="profile">
                        <li class="flex">
                            <img src="/images/test.jpg" alt="프로필 사진">
                            <div class="title_nick">
                                <span>칭호</span>
                                <h3>닉네임</h3>
                                <p>관심분야1</p>
                                <p>관심분야2</p>
                            </div>
                        </li>
                        <li>
                            한 줄 소개글(최대 2줄)
                        </li>
                        <div class="follow">
                            <li>
                                <a href="#">팔로잉 0</a>
                            </li>    
                            <li>
                                <a href="#">팔로워 0</a>
                            </li>
                        </div>
                    </ul>
                    <nav class="menu_wrap">
                        <ul>
                            <li>
                                <a href="#">내 정보 수정</a>
                            </li>
                            <li>
                                <a href="#">나의 일정/목표</a>
                            </li>
                            <li>
                                <a href="#">나의 업적/칭호</a>
                            </li>
                            <li>
                                <a href="#">나를 다독이기</a>
                            </li>
                            <li>
                                <a href="#">커뮤니티</a>
                            </li>
                            <li>
                                <a href="#">스텝 위드에 문의하기</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="alarm_logout">
                        <button type="button">
                            <span class="badge">0</span>
                            알림
                        </button>
                        <a href="#">로그아웃</a>
                    </div>
                </div>
            </section>
            <section class="common_pages">
                <div class="inner">
                    <div class="page_wrap">
                        <h2>페이지 이름</h2>
                        <!-- <a>전체 보기 메뉴</a> -->
                    </div>
                    <div class="content_wrap">
                        <h2 class="blind">페이지 콘텐츠</h2>
                        <p>콘텐츠 예시</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>