<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스텝 위드 Step With</title>
    <link rel="stylesheet" href="/css/common-ui.css?v=<?php echo time(); ?>" type="text/css">
    <link rel="stylesheet" href="/css/user_deletion.css?v=<?php echo time(); ?>" type="text/css">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/modal.js"></script>

</head>
<body>
    <div id="skip_navi">
        <a href="#container">본문바로가기</a>
    </div>
    <div id="wrap">
        <main id="#container">
            <section class="common_menus">
                <h2 class="blind">공통 메뉴</h2>
                <div class="inner">
                    <h1 class="logo">
                        <a href="base.html">
                            Step With
                            <span class="blind">스텝 위드 Step With</span>
                        </a>
                    </h1>
                    <ul class="profile">
                        <li class="flex">
                            <img src="/images/base_profile.png" alt="프로필 사진">
                            <div class="title_nick">
                                <span>칭호</span>
                                <h3>닉네임</h3>
                                <p>관심분야1</p>
                                <p>관심분야2</p>
                            </div>
                        </li>
                        <li>
                            한 줄 소개글(최대 2줄)
                        </li>
                        <div class="follow">
                            <li>
                                <a href="#">팔로잉 0</a>
                            </li>    
                            <li>
                                <a href="#">팔로워 0</a>
                            </li>
                        </div>
                    </ul>
                    <nav class="menu_wrap">
                        <ul>
                            <li>
                                <a href="user_edit.html">내 정보 수정</a>
                            </li>
                            <li>
                                <a href="#">나의 일정/목표</a>
                            </li>
                            <li>
                                <a href="#">나의 업적/칭호</a>
                            </li>
                            <li>
                                <a href="#">나를 다독이기</a>
                            </li>
                            <li>
                                <a href="#">커뮤니티</a>
                            </li>
                            <li>
                                <a href="#">스텝 위드에 문의하기</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="alarm_logout">
                        <button type="button">
                            <span class="badge">0</span>
                            알림
                        </button>
                        <a href="#">로그아웃</a>
                    </div>
                </div>
            </section>
            <section class="common_pages">
                <div class="inner">
                    <div class="page_wrap">
                        <h2>회원 탈퇴</h2>
                    </div>
                    <div class="content_wrap">
                        <h2 class="blind">페이지 콘텐츠</h2>
                        <form class="delete_area" method="post">
                            <h3>'닉네임'계정의 회원 탈퇴를 계속 진행하시려면 <br>계정 비밀번호를 입력해주세요.
                                <br>(부정 이용 방지를 위해 3개월간 동일한 아이디 및 휴대폰 번호로 재가입이 불가합니다)</h3>
                            <div class="flex">
                                <input type="password" placeholder="계정 비밀번호를 한번 더 입력해주세요." required>
                                <input type="submit" value="회원 탈퇴하기">
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>